<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <title>/{{ thread.board }}/ - {{thread.title}}</title>
</head>
<body>
    

    <div class="page">
        {{> leftMenu}}
        <div class="right-bar">
            <div class="header">
                <a href="/threads/{{ thread.board }}">
                    <h1 class="main_header">Orange Forum - /{{ thread.board }}/</h1>
                </a>
                <br>
                <button class="button_show_answer_form" onclick="document.getElementById('answer_button').scrollIntoView();">В конец треда</button>
            </div>
            <div class="content">
                <div class="thread">
                    <div  class="post post_type_oppost" id="{{thread._id}}">
                        <p class="post__details">{{thread.date}} tid#{{thread._id}}</p>
                        <div  class="post__message" style="white-space: normal;">
                            <h3>{{thread.title}}</h3>
                            <p style="white-space: pre-wrap;">{{thread.first_post_text}}</p>
                        </div>
                    </div>
                    {{#each posts}}
                    <div class="post post_type_reply" id="{{ this._id }}">

                        <p class="post__details">{{ this.date }} pid#{{ this._id }}</p>
                        <div  class="post__message">{{#if this.reply_to}}<a href="#{{ this.reply_to }}">>>{{ this.reply_to }}</a><br>{{/if}}{{ this.text }}
                        {{#if this.image_name }}<br><img src="/static/img/uploads/{{this.image_name}}" class="post-image">{{/if}}
                        {{#if this.reply_from}}
                        <p class="replies-anchor">
                            {{#each this.reply_from}}
                            <a href="#{{this}}">>>{{this}}</a>
                            {{/each}}
                        </p>{{/if}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="footer">
                <button id="answer_button" class="button_show_answer_form" onclick="document.getElementById('answer_to_thread').style='display: block;'">Ответить в тред</button>

                <form method="POST" action="/thread/{{thread._id}}" id="answer_to_thread"
                    style="display: none;" class="postform" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td><textarea cols="60" rows="10" class="textinput" name="text" id="title_input" placeholder="Сообщение"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><textarea cols="60" rows="1" class="textinput" name="replyTo" id="reply_to_input" placeholder="Id для ответа"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="file" name="image" class="button_submit_answer"></td>
                        </tr>
                        <tr>
                            <td><button type="submit" class="button_submit_answer">Подтвердить</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/postViewScript.js"></script>

</body>
</html>