<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <title>/{{ board }}/ - Threads</title>
</head>
<body>
    

    <div class="page">
        <div class="left-bar">
            {{> leftMenu}}
        </div>
        <div class="right-bar">
            <div class="header">
                <a href="/threads/{{ board }}">
                    <h1 class="main_header">Orange Forum - /{{ board }}/</h1>
                </a>
                <br>
                <div class="postdiv">
                    <button class="button_show_answer_form" id="add_thread_bt" onclick="document.getElementById('add_thread_form').style='display: block;'">Создать тред</button>
                    <form method="POST" action="/threads/{{ board }}/" id="add_thread_form" class="postform" style="display: none;">
                        <table>
                            <tr>
                                <td><textarea type="text" cols="60" rows="1" class="textinput" name="title" id="title_input" placeholder="Заголовок"></textarea></td>
                            </tr>
                            <tr>
                                <td><textarea type="text" cols="60" rows="10" class="textinput" name="first_post_text" id="details_input" placeholder="Сообщение"> </textarea></td>
                            </tr>
                            <tr>
                                <td><button type="submit" class="button_submit_answer">Подтвердить</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="content">
                {{#each threads}}
                <div class="thread">
                    <p class="post__details">{{ this.date }} tid#{{ this._id }} <a
                            href="/thread/{{this._id}}"> Ответ</a></p>
                    <b>{{ this.title }} </b>
                    <div class="post__message">{{ this.first_post_text }}</div>
                </div>
                {{/each}}
            </div>
            <div class="footer"></div>
        </div>
    </div>

    <script src="/static/js/threadViewScript.js"></script>

</body>
</html>